body {
    margin: 0%;
    font-family: 'Cabin Condensed', sans-serif;
}

#menu {
    background-color: red;
    max-width: 100%;
    margin: 0px;
    height: 30px;
    position: sticky;
    top: 0px;
    z-index: 2;
    text-decoration-style: none;
}

h5 {
    margin: 15px 30px;
    position: relative;
    display: initial;
    top: 5px;
    text-decoration-color: white;
}
h5 a:hover {
    color: rgb(16, 0, 54);
    text-decoration-style: none;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: rgb(8, 0, 77);
    top: 0%;
}

#logo {
    width: 40%;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    top: 50px;
    
}

#section1 {
    width: 100%;
    margin: 30px 0;
    display: flex;
}

#imagemua {
    position: relative;
    margin: 10px 50px;
    max-width: 20%;
}

#textoua {
        max-width: 40%;
        margin: 11% 10% 0% 20%;
        font-size: 19px;
        text-align: justify;
}

#quadradovermelho {
    background-color: rgb(252, 247, 0);
    height: 50%;
    width: 100%;
    position: absolute;
    margin: 100px 0;
    z-index: -1;
}

h2 {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

#section2 {
    background-color: black;
    max-width: 100%;
}

.imagempersonagens {
    height: 200px;
    width: 200px;
    margin: 50px 15%;
    margin-top: 0;
    position: relative;
}

.textopersonagens {
    position: relative;
    margin: 5% 10%;
    text-align: justify;
}

.sessaopersonagens {
    position: relative;
    display: flex;
}

#plus {
    height: 100px;
}

#vilao {
    position: relative;
    display: flex;
    background-color: black;
    max-width: 100%;
    margin: 0;
    text-align: center;
}

#vilaotitulo {
    position: absolute;
    text-align: center;
    color: white;
    margin: 80px  30px 0 110px;
}

#descricaovilao {
    text-align: justify;
    color: white;
    max-width: 60%;
    margin: 150px 30px 0 110px;
}

#shigaimg {
    margin: 0 250px 0 0;
    width: 300px;
    z-index: 2;
}

footer {
    background-color: red;
    margin-bottom: 0px;
    height: 50px;
    display: flex;
}

#face {
    max-width: 30px;
    margin: 10px;
}

#twit {
    max-width: 30px;
    margin: 10px;
}

#inst {
    max-width: 30px;
    margin: 10px;
}

#direitos {
    color: white;
    margin: 0;
    margin-top: 10px;
}

#temporadas {
    max-width: 100%;
    margin: 0;
    padding: 30px;
    background-color: rgb(252, 255, 66);
    text-align: center;
}

#quadradoamarelo {
    max-width: 100%;
    margin: 0;
    background-color: rgb(252, 255, 66);
}

#section3 {
    display: flex;
    max-width: 100%;
    margin: 0px;
    background-color: rgb(252, 255, 66);
}

iframe {
    width: 250px;
    align-items: center;    
}

h3 {
    text-align: center;
}

.sinopse {
    text-align: justify;
}

#primeiratemporada {
    margin: 20px 10px 0 80px;
}
#segundatemporada {
    margin: 20px 80px;
}
#terceiratemporada {
    margin: 20px 80px 0 10px;
}

.video {
    margin: 0 auto 0;
    text-align: center;
}

#mangastit {
    position: relative;
    display: auto;
    max-width: 100%;
}

.volsessao {
    position: relative;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding: 2%;
}

.manga {
    position: relative;
    max-width: 100%;
    padding: 2%;
}

.imagemmanga {
    position: relative;
    width: 200px;
    max-width: 100%;
}

.imagemtam {
    width: 100%;
    max-width: 100%;
}

.titmanga {
    border: 20px;
    text-align: center;
    max-width: 100%;
}

.volumes {
    color: black;
    text-align: center;
    font-size: 15px;
    position: relative;
}

